@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Staatliches&display=swap');
.container{
background-color:#17252A;

display: flex;
justify-content: center;
align-items: center;
margin:0;

}

.navbar{
  display:block;
  @media (max-width: 600px) {
    display: none;
  }
}
.drawer{
  
  @media screen and (min-width: 600px) {
    display: block;
  }
}

a{
  text-decoration: none;
  color:'white'
}
a:visited{
  color:'white'
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



@media only screen and (max-width: 600px) {
  
}
