.container{
background-color:rgb(6, 9, 15);
color:rgb(201, 209, 217);
display: flex;
justify-content: center;
align-items: center;

}

a{
  text-decoration: none;
}



@media only screen and (max-width: 600px) {
  .container{
    
  }
}
